.menu-body-container {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}

.menu-body-box {
  width: 100%;
}

.dinner {
  float: right;

  font-size: 29px;
  font-weight: 100;
}

.dinner-intro {
  margin-top: 75px;
  text-align: center;
}

.appetizers-container {
  align-items: center;
}

.appetizer-title {
  font-size: 18px;
  font-weight: 300;
}

.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-name {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1rem;
  color: black;
  background-color: darkgray;
  border-radius: 5px;
}
.appetizer-items-container {
  display: flex;

  width: 100%;
}
.food-name {
  font-size: 21px;
  font-weight: 500;
}

.left-side-appetizers,
.right-side-appetizers {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style: none;
  color: black;
}

.line {
  border-bottom: 1px solid black;
  width: 100%;
  margin-left: 0px;
}
