.salad-name-container {
  background-color: #f7f7f7;
  border-radius: 10px;
  height: auto;
  margin-top: 30px;
}

.salad-body-container {
  display: flex;
  width: 100%;
}

.menu-name-salad {
  color: black;
  text-align: right;
  font-size: 18px;
  width: 100%;
  font-weight: 100;
}

.menu-salad-box {
  width: 100%;
  text-align: center;
  margin-bottom: 300px;
}

.food-name {
  font-size: 21px;
  font-weight: 600;
}

.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.left-side-salad,
.right-side-salad {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style: none;
  color: black;
}

.line {
  border-bottom: 1px solid black;
  width: 100%;
  margin-left: 0px;
}

.salad-title {
  font-size: 18px;
  font-weight: 300;
}
