.pointsTitleContainer {
  margin-left: 20px;

  background: linear-gradient(90deg, #4b000f, #800020);
  background-clip: text; /* Standard */
  -webkit-background-clip: text; /* Safari/Chrome */
  color: transparent; /* Standard text transparency */
  -webkit-text-fill-color: transparent;
}

.pointsTitleContainer p {
  font-style: italic;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}

.pointsCardContainer,
.tierStatus {
  background-color: rgb(249, 247, 247);
  border-radius: 10px;
  border: 2px solid gold;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 240px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.currentPointLabel {
  margin-top: auto; /* pushes it to the bottom */
  font-style: italic;
  font-size: 24px;
  text-align: left;
  padding-left: 10px;
  font-family: "Playfair Display", serif;
}

.pointsCardDivider {
  width: 80%;
  height: 3px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 50px;
  background: linear-gradient(to right, gold, #ffd700, gold);
  position: relative;
  z-index: 0;
}

.pointsCardDivider::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  opacity: 0.8;
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.tierStatus h2 {
  margin-top: auto;
  font-style: italic;
  font-size: 24px;
  text-align: left;
  padding-left: 10px;
  font-family: "Playfair Display", serif;
}

.benefitsCard {
  display: flex;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 2px solid rgb(122, 128, 174);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 320px;
  margin-bottom: 20px;

  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-evenly;
}

.benefitsCard h4 {
  font-size: 22px;
  text-align: center;
  font-family: cursive;
}

.benefitsCard p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: cursive;
}

.gourmet-plate {
  max-width: 300px; /* or any smaller size you want */
  height: 300px;
  padding-top: 10px;
  border-radius: 33px;
}

.pointButton {
  display: flex; /* so you can center the whole button with margin auto */
  margin: 20px auto; /* centers the button itself */
  padding: 12px 32px; /* space around the text */
  text-align: center;
  box-shadow: 0 10px 10px 0 rgba(84, 22, 22, 0.2);
  width: 220px;
}

.pointTrayImage,
.greenShieldImage,
.upLevelImage,
.nextLevelImage {
  display: flex;
  max-width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

  box-shadow: 0 10px 10px 0 rgba(84, 22, 22, 0.2);
}
.pointsValue,
.nextTierValue {
  font-size: 24px;
}

.statusValue {
  font-size: 22px;
  font-weight: 600;
}
