.reservationPageContainer {
  display: flex;

}

.reserveForm {
  background-color: lightgrey;
  height: 450px;
  padding: 5px;
  border-radius: 10px;
}


.reservationImageContainer,
.reservationFormContainer {
  flex: 1; 
}

.reservation-left-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reservationFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.reserveTable {
  text-align: center;
}

.reserveTable h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.reserveTable p {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.reserveForm label {
  display: block;
  margin-bottom: 10px;
}

.reserveForm input {

  display: block;
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white
}
