.celebrate-page-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #fff;
  top: 150px;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-transform: none;
}

img.celebrate-page-image-banner {
  width: -webkit-fill-available;
  min-height: 490px;
  display: block;
}

.celebrate-page-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #fff;
  top: 150px;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-transform: none;
}

.space-buttons {
  display: flex;
  gap: 10px;
  bottom: 130px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}
a {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.celebrate-page-button,
.celebrate-page-eList-button,
.bottom-menu-page-button,
.sign-up-button {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.celebrate-page-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.celebrate-page-eList-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}
