.footer {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 245px;
    font-family: sans-serif;
  }

  .footer-image {
    display: flex;
    background-color: #2f3235;
    margin-top: 35px;
    margin-left: 252px;
    justify-content: center;
    width: 53%;
  }