.container {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  background-color: rgba(81, 81, 81, 1);
  position: sticky;
  margin-left: 0.2px;
  margin-right: 0.2px;
  top: 0;
  overflow: hidden;
  z-index: 10;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.12),
    transparent
  );

  animation: headerShine 6s linear infinite;
}

@keyframes headerShine {
  from {
    left: -40%;
  }
  to {
    left: 140%;
  }
}

.name {
  font-family: cursive;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Main-Header {
  font-family: cursive;
  list-style: none;
  gap: 30px;
  color: #fff;
}

.Main-Header a:hover {
  color: rgb(210, 162, 99);
}

.inside-container > p {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
