.Menu-flex-container {
  width: 100%;
  background-image: radial-gradient(#202121, #0a0a0c);
  background-image: radial-gradient(
    circle at top right,
    #05050c,
    rgb(63, 62, 68),
    #05050c
  );
  background-color: black;
}

.menu-list {
  display: flex;
  gap: 20px;
  height: 100%;
  padding: 10px;
}

.bigger {
  font-size: 58px;
  color: white;
  font-weight: lighter;
}
.fork-container {
  display: flex;
}

.cutleryPic {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.menu-image-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin-top: 50px;
}
