.menu-options-banner {
    padding: 10px;
    height: 300px;
    margin-top: -55px;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    background-color: #2f3235;
    font-size: 18px;
  }
  
  .menu-intro-title {
    margin-top: 50px;
    line-height: 60px;
    letter-spacing: 2px;
    color: white;
    font-family: adobe-caslon-pro, serif;
  }
  .bottom-menu-page-button,
  .private-menu-button {
    display: flex;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 200px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgba(47, 50, 53, 0.72);
    border: 2px solid white;
  }
  
  .menu-and-private-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
  }
  
  .serving-container {
    display: flex;
    align-items: flex-end;
  }
  
  .bottom-menu-page-button:hover {
    background-color: rgba(255, 255, 255, 0.72);
    color: rgb(47, 50, 53);
  }
  
  .private-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.72);
    color: rgb(47, 50, 53);
  }  